<div class="row g-3">
	<div class="col-6 col-lg-3">
		<div class="alert alert-primary" role="alert">
			A simple primary alert!
		</div>
	</div>
	<div class="col-6 col-lg-3">
		<div class="alert alert-secondary" role="alert">
			A simple secondary alert!
		</div>
	</div>
	<div class="col-6 col-lg-3">
		<div class="alert alert-success" role="alert">
			A simple success alert!
		</div>
	</div>
	<div class="col-6 col-lg-3">
		<div class="alert alert-danger" role="alert">
			A simple danger alert!
		</div>
	</div>
	<div class="col-6 col-lg-3">
		<div class="alert alert-warning" role="alert">
			A simple warning alert!
		</div>
	</div>
	<div class="col-6 col-lg-3">
		<div class="alert alert-info" role="alert">
			A simple info alert!
		</div>
	</div>
	<div class="col-6 col-lg-3">
		<div class="alert alert-light" role="alert">
			A simple light alert!
		</div>
	</div>
	<div class="col-6 col-lg-3">
		<div class="alert alert-dark" role="alert">
			A simple dark alert!
		</div>
	</div>
</div>